.u-section-1 .u-sheet-1 {
  min-height: 204px;
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 182px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 1592px;
}

.u-section-2 .u-image-1 {
  width: 305px;
  height: 526px;
  margin: -160px auto 60px -50px;
}

.u-section-2 .u-image-2 {
  width: 202px;
  height: 416px;
  margin: -36px auto 60px 0;
}

.u-section-2 .u-image-3 {
  width: 170px;
  height: 308px;
  margin: -72px auto 60px 0;
}

.u-section-2 .u-image-4 {
  width: 294px;
  height: 589px;
  margin: -523px auto 60px -13px;
}

.u-section-2 .u-image-5 {
  width: 306px;
  height: 306px;
  margin: 9px auto 56px -32px;
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1636px;
  }

  .u-section-2 .u-image-1 {
    width: 369px;
    height: 635px;
    object-position: 50% 0%;
    margin-top: -175px;
    margin-bottom: 0;
    margin-left: -29px;
  }

  .u-section-2 .u-image-2 {
    width: 300px;
    height: 642px;
    margin-top: -115px;
    margin-bottom: 0;
    margin-left: -18px;
  }

  .u-section-2 .u-image-3 {
    width: 299px;
    height: 458px;
    margin-top: -549px;
    margin-bottom: 0;
    margin-left: -29px;
  }

  .u-section-2 .u-image-4 {
    width: 320px;
    height: 668px;
    margin-top: -458px;
    margin-bottom: 0;
    margin-left: 0;
  }

  .u-section-2 .u-image-5 {
    width: 326px;
    height: 359px;
    margin-top: 8px;
    margin-bottom: 60px;
    margin-left: 0;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 500px;
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 68px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 385px;
}

.u-section-4 .u-image-1 {
  height: 147px;
  margin-top: 0;
  margin-bottom: 24px;
}

.u-section-4 .u-image-2 {
  height: 53px;
  width: 329px;
  margin: 6px auto 60px;
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 733px;
  }

  .u-section-4 .u-image-1 {
    height: 163px;
    width: 358px;
    margin: 20px auto 0 -18px;
  }

  .u-section-4 .u-image-2 {
    width: 340px;
    margin-top: 10px;
    margin-left: -18px;
  }
}