.u-section-1 .u-sheet-1 {
  min-height: 204px;
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 182px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 1592px;
}

.u-section-2 .u-image-1 {
  width: 305px;
  height: 526px;
  margin: -160px auto 60px -50px;
}

.u-section-2 .u-image-2 {
  width: 202px;
  height: 416px;
  margin: -36px auto 60px 0;
}

.u-section-2 .u-image-3 {
  width: 170px;
  height: 308px;
  margin: -72px auto 60px 0;
}

.u-section-2 .u-image-4 {
  width: 294px;
  height: 589px;
  margin: -523px auto 60px -13px;
}

.u-section-2 .u-image-5 {
  width: 306px;
  height: 306px;
  margin: 9px auto 56px -32px;
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1238px;
  }

  .u-section-2 .u-image-1 {
    margin-top: -162px;
    margin-bottom: 0;
    margin-left: -32px;
  }

  .u-section-2 .u-image-2 {
    width: 239px;
    height: 492px;
    margin-top: -92px;
    margin-bottom: 0;
    margin-left: -26px;
  }

  .u-section-2 .u-image-3 {
    width: 299px;
    height: 458px;
    margin-top: -326px;
    margin-bottom: 0;
    margin-left: -29px;
  }

  .u-section-2 .u-image-4 {
    width: 274px;
    height: 572px;
    margin-top: -544px;
    margin-bottom: 0;
    margin-left: -16px;
  }

  .u-section-2 .u-image-5 {
    margin-bottom: 0;
    margin-left: -29px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 500px;
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 68px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 385px;
}

.u-section-4 .u-image-1 {
  height: 147px;
  margin-top: 0;
  margin-bottom: 24px;
}

.u-section-4 .u-image-2 {
  height: 53px;
  width: 329px;
  margin: 6px auto 60px;
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 733px;
  }

  .u-section-4 .u-image-1 {
    height: 157px;
    width: 354px;
    margin: 40px auto 0 -26px;
  }

  .u-section-4 .u-image-2 {
    width: 340px;
    margin-top: 12px;
    margin-left: -26px;
  }
}